@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$font: 'Quicksand', sans-serif;

$primary: #fcefda;
$secondary: #380948;
$white: #ffffff;
$black: #000000;