.header {
  display: flex;
  height: 100%;
  align-items: center;
  margin-top: 3rem;
  margin-left: 4rem;

  &__logo {
    width: 10rem;
    height: 10rem;
    padding: 0 5rem;
    border: $black 2px solid;
    border-bottom: none;
    border-top: none;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    padding: 0 4rem;
    border-right: $black 2px solid;
    list-style: none;

    @include tablet {
      display: none;
    }

    & > li {
      padding: 0 4rem;

      a {
        text-decoration: none;
        color: $black;
        font-weight: bold;

        &:hover {
          color: $secondary;
        }
      }
    }
  }

  .title {
    display: none;
  }
}